.gridContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.mapContainer{
    border-right: 1px solid #0F9960;
}

.deviceListContainer{
    border-left: 1px solid #0F9960;
}

.pageinator{
    width: 100%;
    height: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.prevPage, .nextPage{

}

.pageRange{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    background-color: #E1E8ED;
    border-radius: 5px;
    margin: 0.2em;
}

.deviceList{
    width: 100%;
    height: 95%;
}